<div class="col-md-4">
  <form class="form-horizontal" name="config">
    <div class="form-group">
      <label for="speed" class="col-md-2 control-label">Interval</label>
      <div class="col-md-10">
        <input class="form-control" name="speed" type="number" ng-model="speed">
        <div class="help-block">
          Changes to this can be seen immediately.
          the graph will only update if apply (below)
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
        <label for="apply">Apply</label>
      </div>
      <div class="col-md-10">
        <input name="apply" ng-model="apply" type="checkbox">
        <div class="help-block">Call scope.$apply in timeout (non-angular)</div>
      </div>
    </div>
  </form>
</div>
<div class="col-md-8">
  <div class="rickshaw_graph" graph="" graph-type="type" ng-click="doSomething()" graph-domain="domain" graph-data="data"></div>
  <div class="rickshaw_graph" graph="" graph-type="type" graph-domain="domain" graph-data="data"></div>
</div>